<!doctype html>
<head>
    <title>
        Github Issue Tracker
    </title>
</head>
<style>
    body {
        height: 100%;
        font-family: Arial;
    }
    #search-bar{
        text-align: center;
        margin-top: 15%;
    }
    #search-bar input[type=text]{
        width: 60%;
        border-radius: 3px 3px 3px 3px;
        height: 30px;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
        padding: 10px;
    } 
    #search-bar input[type=submit]{
        height: 50px;
        width: 50px;
        border-radius: 3px 3px 3px 3px;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
        background-color: #000;
        color: #FFF;
        padding: 10px;
    }
    #result{
      margin-left: 15%;
    }
    #table{

      margin: 50px;
    }
    
</style>

<form id="search-bar" action='/' method="GET">
    <input type="text" name="input_url" placeholder="Github URL"/>
    <input type="submit" name="submit" value="Fetch" />
</form>
<div id="result">
<% if @error_msg %>
    <h4> An Error Occurred </h4>
    <p> <%= @error_msg %>
<% elsif @output_arr %>
    <table border="0" id="table">
        <tr>
            <td>Total number of open issues</td>
            <td> <%= @output_arr.shift %> </td>
        </tr>
        <tr>
            <td> Number of open issues that were opened in the last 24 hours</td>
            <td> <%= @output_arr.shift %></td>
        </tr>
        <tr>
            <td> Number of open issues that were opened more than 24 hours ago but less than 7 days ago</td>
            <td> <%= @output_arr.shift %></td>
        </tr>
        <tr>
            <td>Number of open issues that were opened more than 7 days ago</td>
            <td> <%= @output_arr.shift %></td>
        </tr>
    </table>
<% end %>
</div>
</body>
</html>